* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

main, aside {
  background-color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1.5em;
}

.body-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 8px;
  background-color: #CCC;
}

.content-container {
  display: flex;
  align-items: flex-start;
}

/* HEADINGS  */

h1 {
  color: #FFF;
  text-align: center;
  font-size: 2.5em;
}

h2, h3 {
  color: #2988FF;
  margin: 0 0 8px 0;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

/* HEADER */

.header-container {
  background-color: #2988FF;
  border-bottom: 10px solid #182F4D;
  padding: 2em 0 0.5em 0;
}

/* NAVIGATION */

.nav {
  margin: 0;
  padding: 1.2em;
  display: flex;
  background-color: #FFF;
  list-style: none;
}

/* Top level nav items */
.nav li > a {
  padding: 15px 20px;
  color: #7a7072;
  font-size: 0.9em;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Nav hover state */
.nav li > a:hover,
.nav li > a:focus,
.nav li:focus > a,
.nav li:hover > a {
  background: #182F4D;
  color: #FFF;
}

/* Dropdowns */
.nav ul {
  position: absolute;
  top: 2.3em;
  opacity: 0;
  min-width: 150px;
  list-style: none;
  padding-left: 0;
  background: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}

.nav li {
  position: relative;
}

.nav li:hover ul,
.nav li:focus ul,
ul.show-menu {
  opacity: 1;
}

.nav ul a {
  display: block;
}

/* MAIN AND ARTICLES */

main {
  width: 60%;
  margin: 15px 5px 10px 0;
}

#articles a {
  color: #2988FF;
  font-weight: 700;
}

#articles a:hover {
  color: #182F4D;
}

#articles p {
  font-size: .9em;
  line-height: 1.5em;
}


.individual-post {
  margin: 1.15em 1em;
  padding: .5em;
  border-bottom: 2px solid #CCC;
  padding-bottom: 1em;
}

.individual-post:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}


/* SIDEBAR  */

aside {
  width: 40%;
  margin: 15px 0 10px 10px;
  padding: 1.7em;
}

img {
  width: 100%;
}

blockquote {
  border-left: 5px solid #182F4D;
  padding: 0 1em 0 1em;
  margin: 1em 0 0.5em 0;
  line-height: 1.5em;
  font-size: 1.15em;
  width: 90%;
}

cite {
  margin: 0.5em 0 0 0;
  display: block;
  font-size: 0.65em;
}

button {
  margin: 5px 0 5px 0;
  padding: 1em;
  color: #FFF;
  font-weight: 700;
  font-size: 0.85em;
  border: none;
  background-color: #2988FF;
}

button:hover {
  background-color: #182F4D;
}

.image-of-week {
  border-bottom: 2px solid #CCC;
  margin-bottom: 20px;
  padding-bottom: 18px;
}





/* MEDIA QUERIES  */

@media only screen and (max-width:875px) { /* When main and sidebar get too narrow*/
  .content-container {
    display: block;
  }

  main, aside {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width:660px) { /* When navigation overflows screen*/
  .nav, .nav li {
    display: block;
    margin-bottom: 1em;
  }

  .nav li > a {
    padding: 10px;
  }
}
